.hiden{
    visibility: hidden;

}
.error{
    color: red;

}
#root {

    display: flex;
    flex-direction: row;
    gap: 8px;
}
body{
   
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.grupos{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  
    padding: 14px;
}